$primary: skyblue;

$font-light: #fff;
$font-gray: #393E46;
$font-dark: #222831;

$border-light: #fff;
$border-grey: #a7a7a7a7;
$border-dark: #444444;

$background-light: #fff;
$background-grey-light: #EEEEEE;
$background-grey: #393E46;
$background-grey-dark: #222831;

$success: #00adb5;
$fail: #E8C1C0;
