@import './index.scss';

.ui.form{
    .ui.input{
        input{
            border: 1px solid $border-grey !important;
            font-size: 16px;
        }
    }
    .form-actions{
        display: flex;
        align-items: center;
        justify-content: flex-end
    }

    .ui.button.submit{
        background-color: $primary;
        margin: 0;
    }
}

.password-instructions {
    margin-top: -14px;
    margin-bottom: 10px;
    color: $fail;
}

