@import './colors.scss';

//layouts
@import '../layouts/BasicLayout/BasicLayout.scss';

//components
@import '../components/Header/Header.scss';
@import '../components/Topbar/Topbar.scss';
@import '../components/Search/Search.scss';
@import '../components/Header/MenuWeb/MenuWeb.scss';
@import '../components/Modal/BasicModal/BasicModal.scss'

